---
import Layout from '../layouts/Layout.astro';
import RenderInfo from '../components/RenderInfo';

---

<Layout title="Cementerio Municipal.">
	<main>
  <RenderInfo selected="cementerio" pagename="Cementerio" client:load ></RenderInfo>
	</main>
</Layout>

<style>

</style>
